@import './typography.css';
@tailwind components;


.menu {
  position: fixed;
  top: 0;
  right: -170px; /* Menu width */
  width: 170px;
  height: 100%;
  background: linear-gradient(to left, #0C1C55 93%, transparent); /* Adjusted fading effect */
  transition: right 0.3s;
  z-index: 1000;
}


/* styles.css */

.hamburger-icon {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
  z-index: 1001;
}


.menu.open {
  right: 0;
}

.menu ul {
  list-style-type: none;
  padding: 20px;
}

.menu li {
  padding: 10px 0;
}



.avatar {
    height: 4rem; /* 64px */
    width: 4rem; /* 64px */
    border-radius: 50%;
    border: 2px solid white;
    object-fit: contain;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
  .avatar:hover {
    transform: scale(1.1); /* Slightly increase the size */
    cursor: pointer; /* Changes cursor to a hand icon */

  }

  .avatar-selected {
    border: 2px solid #4A90E2; /* Example blue color for selection */
    box-shadow: 0 0 20px rgba(74, 144, 226, 0.5); /* Soft glow effect */
  }
  
  .avatar-selected-green {
    border: 2px solid #2ECC71; /* Green color for selection */
    box-shadow: 0 0 10px rgba(46, 204, 113, 0.5); /* Soft green glow effect */
  }

  .scroll-to-bottom-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 32px; /* Adjust size as needed */
    cursor: pointer;
    margin-left: 1px !important; /* Increase specificity */

  }
  .pulsate-bck {
	-webkit-animation: pulsate-bck 0.5s ease-in-out both;
	        animation: pulsate-bck 0.5s ease-in-out both;
}

.fixed-sidebar-container {
    overflow: hidden; /* This prevents scrolling */
  }
  

@-webkit-keyframes pulsate-bck {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes pulsate-bck {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 1s ease-in-out;
  }
  
  