/* src/components/NavBar/NavBar.css */
.navbar {
  display: flex;
  align-items: center; /* Centers items vertically */
  background-color: #1c2121; /* Sets the background color */
  padding: 0 1rem; /* Adds some padding on the left and right */
  height: 50px; /* Sets the height of the navbar */
}

.nav-link, .dropbtn {
  color: white;
  padding: 0.5rem;
  text-decoration: none;
  margin-right: 10px; /* Adds spacing between the links */
}

.nav-link:hover, .dropdown-content a:hover, .dropbtn:hover {
  background-color: #0ecac1; /* Slightly darker shade for hover effect */
  color: black;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content .dropdown-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}
