/* src/components/NavBar/NavBar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #212322; /* Updated background color */
  padding: 0 1rem;
  height: 50px; /* Updated height */
}

.logo-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.logo-container .avatar {
  cursor: pointer;
  margin-right: 10px; /* Space between the avatar and the text */
}

.logo {
  border-radius: 15%; /* Adjust the border-radius as needed */
}

.nav-link, .dropbtn {
  color: white;
  padding: 0.5rem;
  text-decoration: none;
  margin-right: 10px;
}

.nav-link:hover, .dropdown-content a:hover, .dropbtn:hover {
  background-color: #dfe5e5; /* Slightly darker shade for hover effect */
  color: black;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content .dropdown-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Media query and animations from your old project */
@media (max-width: 768px) {
  .logo-container .logo {
    width: 25px;
    height: 25px;
  }
  
  .logo-container {
    margin-top: -8px;
  }
}

